<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="FilePath" value="C:\env_info_update"/>
      <add key="FileName" value="env_info_update.bat"/>
      <add key="LogPath" value="C:\Temp\Logs"/>
      <add key="LogFileName" value="BatServiceLog.txt"/>
    </appSettings>
</configuration>